<div class="row">
	<div class="span6">
		<% if @task.errors.any? %>
			<div id="error_explanation">
				<div class="alert alert-error">
					<h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being 	saved:</h2>
					<ul>
					<% @task.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
					</ul>
				</div>
			</div>
		<% end %>

		<%= form_for(@task) do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title  %>
		<%= f.label :state %>
		<%= f.check_box :state %>
		<%= f.label :content %>
		<%= f.text_field :content, class: "input-xlarge" %>
		<br />
		<%= f.submit class: "btn btn-primary" %>
		<% end %>
		<hr />
	</div>
</div>
