<% if @task.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
		<ul>
			<% @task.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for(@task) do |f| %>
	<%= f.label :title %>
  <%= f.text_field :title  %>
  <%= f.label :state %>
  <%= f.check_box :state %>
  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit %>

<% end %>
