<% provide(:title, 'Tasks') %>
<h2>List</h2>
  <table class="table table-bordered index">
    <% @tasks.each do |task| %>
      <tr>
	<td valign="middle" align="center" width="15px">
	    <%= form_for task, remote: true do |f| %>
	    <%= f.check_box :state, class: 'submittable' %>	
	    <% end %>
	</td>
	<td>
	    <%= task.content %>
	</td>
	<td width="80px">
	    <%= link_to 'edit', edit_task_path(task) %> | 
	    <%= link_to 'show', task %>
	</td>
      </tr>
    <% end %>
  </table>
<%= link_to 'New Task', new_task_path, class: 'btn btn-success' %>
