<h1>Tasks#list</h1>
<%= link_to 'New Task', new_task_path, class: "btn btn-primary" %>

<% @tasks.each do |task| %>
  <%= form_for(task, class: "well form-inline") do |f| %>
    <%= f.label :state %>
    <%= f.check_box :state %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <%= f.submit "update", action: 'update', class: "btn" %>
    <%= link_to 'Delete', task, confirm: 'Are you sure?', method: :delete, class: "btn btn-danger" %>
  <% end %>
<% end %>
